* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;

}

.menu-desktop-container {
    width: 100vw;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px;

    background-color: aqua
}

.menu-desktop-container ul {
    display: flex;
}

#menu-desktop {}

.menu-wrapper {
    position: fixed;
    top: 0;
    display: none;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    height: 130px;
    width: 100vw;
    transition: height .5s cubic-bezier(.19, 1, .22, 1);
    background-color: rgb(255, 255, 255);
    z-index: 200;
}

.header-menu-container {
    justify-self: right;
}



.header-menu-container ul {
    margin-bottom: 0;
}

.header-menu-container li {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    list-style-type: none;

    color: black;
}

/* mobile menu */
.mobile-menu-dropdown {
    position: absolute;
    z-index: 998;
    color: black;
    background: rgb(240, 240, 240);
    height: 100vh;
    display: inline-block;
    transition: 200ms left cubic-bezier(0.77, 0, 0.175, 1);
    width: 500px;
    left: -500px;
    padding: 50px;
}

.mobile-menu-dropdown.active {
    left: 0;
    top: 0;
    width: 100%;
}

.desktop-logo img {}

body {}

ul,
li {
    list-style-type: none;
    text-decoration: none;
}

.atags-mobile-menu a {
    display: block;
    margin-bottom: 30px;
    color: Black;
    list-style: none;
    animation-name: fade-in-left;
}

#splash {}

main {
    margin-top: 100px;
    position: relative;
}

.container-max {
    width: 85%;
    max-width: 1920px;
    margin: 0 auto;
}

.title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 6px;
}


#menu-mobile {
    background-color: red;
    height: 75px;
    border-bottom: 1px solid black;

}

/* Media queries */

@media screen and (min-width: 750px) {
    .menu-wrapper {
        display: grid;
    }

    #menu-mobile {
        display: none;
    }
}
