* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    background-color: #f5f5f5;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

nav h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 28px;
}

nav a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    color: black;
    text-decoration: none;
}

.noscroll {
    overflow-x: hidden;
}

.header-menu-container .active,
.menu-wrapper .active {
    color: #f5f5f5;
}

/* Menu Desktop START */

#menu-desktop {}

.menu-wrapper {
    /* Containeren til vores desktop-menu - Grid struktur og fixed */
    position: fixed;
    top: 0;
    display: none;
    grid-template-columns: 80px 150px auto 150px 80px;
    /* Selve grid strukturen */
    grid-template-rows: 100px;
    justify-items: center;
    /*justify'er alle elementer  .menu-wrapper i centrum */
    align-items: center;
    /*sætter alle items i .menu-wrapper i centrum */
    width: 100vw;
    background-color: #f5f5f5;
    z-index: 200;
    border-bottom: 1px solid black;
}

.header-menu-container {
    /* Containeren til vores menu-punkter */
    grid-column: 3 / span 1;
    /* Definerer hvor containeren skal starte i grid'et, og hvor langt det skal strække sig */
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.header-menu-container a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    transition: ease-in-out 0.3s;
}

.kurv-menu {
    justify-self: start;
    /* definerer at vores indkøbskurv skal ligge sig i starten af dens grid-box, modsat centrum som alle andre ligger i */
    margin-top: 5px;
}


.header-menu-container .kurv {
    height: 30px;
    width: 30px;
}

.header-menu-container a {
    text-decoration: none;
    list-style-type: none;
}

nav .header-menu-container a:nth-child(1),
nav .header-menu-container a:nth-child(4) {
    border-right: 0.5px solid black;
    padding-right: 15px;
}

nav .header-menu-container a {
    margin: 10px;
}

.kurv-menu {
    justify-self: start;
    margin-top: 5px;
}

.kurv-menu img {
    height: 21px;
    width: auto;
}

.desktop-logo img {
    height: 80px;
    width: auto;
}

.header-menu-container a:hover,
.menu-wrapper a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.headerBaggrund {
    background-image: url(img/baggrund.png);
    background-size: cover;
}

/* Menu Desktop SLUT */


/* mobile menu START */

#menu-mobile {
    background-color: #ffffff;
    height: 75px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 200;
    top: 0;
}

.mobile-menu-dropdown {
    position: absolute;
    z-index: 998;
    color: black;
    height: 100%;
    display: inline-block;
    -webkit-transition: 200ms left cubic-bezier(0.77, 0, 0.175, 1);
    transition: 200ms left cubic-bezier(0.77, 0, 0.175, 1);
    width: 500px;
    left: -500px;
    text-align: center;
}

.mobile-menu-dropdown {
    text-align: left;
    padding: 50px;
}

.mobile-menu-dropdown.active {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.mobile-menu-dropdown .mobil-logo img {
    height: 55px;
    width: auto;
    padding-left: 5px;
    margin-top: 75px;
}

.mobil-logo img {
    height: 55px;
    width: auto;

}

.atags-mobile-menu a {
    display: block;
    margin-bottom: 30px;
    color: Black;
    list-style: none;
    -webkit-animation-name: fade-in-left;
    animation-name: fade-in-left;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* mobile menu SLUT */

/* Main sections FLEX START */


.flex-container {
    /* display flex & wrap til de elementer som skal være containere for elementer der skal flex'e */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* centrere indhold */
    align-items: center;
    /* centrere indhold */
    text-align: center;
    /* centrere indhold */
    min-height: 400px;
}

.flex-item {
    /* definerer hvor stor en del element skal optage (flex-grow), og definerer hvor stor basis elementet skal have til rådighed inden det flex'er */
    flex-grow: 1;
    flex-basis: 400px;
    margin: 0 auto;
}

.flex-reverse {
    /* flex'er elementet modsat */
    flex-direction: row-reverse;
}

.tekst-container {
    /* Definerer hvordan tekst i vores sectioner skal ligge sig */
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}


/* Main sectiocs FLEX SLUT */

/*** forside  START***/

main {
    padding-top: 75px;
}

.container-max {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

section h1 {
    padding-top: 30px;
    padding-left: 10px;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    padding-bottom: 30px;
    text-transform: uppercase;
}

#nyhavnsglaspusteri {
    padding-top: 37px;
}

#nyhavnsglaspusteri,
#glaspusterchristianedwards,
#signature {
    margin-top: 50px;
}

#glaspusterchristianedwards {
    margin-bottom: 50px;
}

#signature,
#polterabend {
    padding-bottom: 50px;
}

#video-section {
    padding-top: 0;
    margin-top: -50px;
}

/* Banner Section START */
.banner-picture {
    background-image: url(img/banner.png);
    background-size: cover;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-tekst {
    width: 300px;
    color: #f5f5f5;
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    position: relative;
    left: 10px;
    top: 80px;
}

.banner-tekst h2 {
    color: #f5f5f5;
    font-size: 46px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    padding-bottom: 10px;
    filter: brightness(1.7);
}

#banner button {
    margin-top: 15px;
}

/* Banner Section SLUT */

/* Main button styling START */
#banner button,
#nyhavnsglaspusteri button,
#teambuilding button,
#signature button,
.price-container .button,
.buy-button {
    color: #f5f5f5;
    background-color: grey;
    background: none;
    cursor: pointer;
    width: 130px;
    height: 30px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#nyhavnsglaspusteri button,
#teambuilding button,
#signature button,
.price-container .button,
.buy-button {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    float: right;
}

#banner button:hover,
#nyhavnsglaspusteri button:hover,
#teambuilding button:hover,
#signature button:hover,
.price-container .button:hover,
.buy-button:hover {
    background-color: rgba(245, 245, 245, 0.47);
    color: black;
    transform: scale(1.1);
}

/* Main button styling SLUT */

/**** instagram embed ***/

#instagram {
    padding-top: 50px;
    text-align: center;

}

#instagram h2 {
    padding-bottom: 30px;
}

.instagram-container {
    display: flex;
    justify-content: center;
}

.instagram-container img {


    margin-bottom: 50px;
}


/* #glaspuster christian Edwards classes & styling START */
.fbg h2 {
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-top: 10px;
    font-size: 26px;
}

.fbg p {
    padding: 2px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
}

.fbg a,
.fbg a p {
    text-decoration: underline;
    list-style-type: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.fbg h3 {
    margin-top: 7px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;

}

/* #glaspuster christian Edwards & styling SLUT */

/* Galleri side START */

#galleri-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 3px;
    grid-row-gap: 1.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 75px;
}

.singleProdukt {
    transition: ease-in-out 0.3s;
}

.singleProdukt:hover {
    transform: scale(1.05);
}

.webshop-item-container,
.galleri-item-container {
    overflow: hidden;
}

/* Galleri side SLUT */

/* Webshop side START */
#webshop-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 75px;
}

#webshop h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 5px;
    font-size: 20px
}

.webshop-title-container p {
    font-family: "helvetica", sans-serif;
    font-size: 16px;
    font-weight: 300;
    justify-self: end;
}

.webshop-title-container {
    margin-right: 35px;
    display: grid;
    grid-template-columns: auto auto 30px;
    align-items: center;
}

.webshop-title-container img {
    padding-left: 20px;

    height: 30px;
    width: auto;
}

.price-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.betalingsmetoder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.betalingsmetoder img {
    height: 30px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}



/* Webshop side SLUT */

/* Kontakt side START */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 25px;

}

.grid-container .butik-container {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
    margin: 0;
}


.google-maps {
    position: relative;
    padding-top: 99%;
    height: 0;
    overflow: hidden;
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
}

#mail-form {
    max-width: 1180px;
    margin: 0 auto;
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    padding-bottom: 35px;
}

.butik-container .tekst-container {
    margin: 0;
}

.grid-container .tekst-container {
    margin: 0;
    padding: 0;
}

.aabningstider-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(7, 30px);
    padding-bottom: 30px;
}

.info-container h2 {
    padding-bottom: 20px;
    font-size: 26px;
}

#kontakt aabningstider-container {
    text-align: center;
    font-size: 18px;
}

#kontakt p,
#kontakt h3 {
    font-size: 18px;
    font-weight: 300;
}

#kontakt h2 {
    padding-bottom: 20px;
    font-weight: 300;
}


.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.kontakt h5,
.kontakt p,
.kontakt a {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

.kontakt a p:hover {
    text-decoration: underline;
    font-weight: 500;
}

.kontakt h6:hover {
    text-decoration: underline;
}

.kontakt h6,
.butik-container h6 {
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
    font-weight: 500;
    transition: ease-in-out 0.3s;
}




.mail-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.grid-container .butik-container h2 {
    padding-bottom: 20px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: dimgrey;
    color: whitesmoke;
}

/* Kontakt side SLUT */


/**** popUp START ****/

.popUp-container .container-max {
    max-width: 720px;
}

.popUp-container {
    display: none;
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 300;
    top: 45px;
    height: 100%;
}

.luk {
    position: fixed;
    margin-left: 20px;
    top: 130px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.produkt-billede {
    text-align: center;
}

.produkt-container {
    background-color: rgb(245, 245, 245);
    height: 80vh;
    overflow-y: scroll;
}

.item-container {
    text-align: center;
    cursor: pointer;
}

#galleri .item-container {
    cursor: default;
}

.pris p {
    width: 100%;
    font-size: 30px;
    float: right;
}

.popUp-container .tekst-container p,
.popUp-container .tekst-container h6 {
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
}

.popUp-container h1 {
    padding-left: 0;
}

.popUp-container h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.specifikationer {
    padding-top: 20px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.buy-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.buy-button {
    background: transparent;
    border-radius: 2px;
    border: 1px solid black;
    height: 50px;
    width: 130px;
}

.buybutton p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 0px;
    position: relative;
    bottom: 8px;
}

/**** popUp SLUT ****/


/* Footer START */
footer {
    text-align: center;
    background-color: rgba(201, 190, 180, 0);
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Roboto", sans-serif;
}

footer .container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    text-align: left;

}

footer button {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 2px;

    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

footer h4 {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 25px;
}

footer p,
footer h3 {
    font-size: 16px;
}

footer button p {
    color: black;
}

footer button:hover {
    border: 3px solid white;
    background-color: black;
    color: white;
}

footer button p:hover {
    color: white;
}

.tlf {
    display: flex;
    align-content: center;
}

.butik-container,
.kontakt,
.aabningstid {
    display: none;
    flex-grow: 1;
    flex-basis: 100px;
    margin: 0 auto;
}

.butik-container h5,
.butik-container p,
.butik-container div {
    padding-bottom: 10px;
}

.aabningstiden {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 27px);
}

.aabningstiden h3 {
    padding-right: 20px;
}


.footer-container a,
.footer-container p {
    text-decoration: none;
    list-style-type: none;

}

.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-envelope:hover {
    color: white;
    transform: scale(1.2);
}

.footer-container {
    width: 100vw;
    background-color: rgba(117, 117, 119, 0.76);
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .container p,
#footer .container h3,
#footer .container h2 {
    font-weight: 400;
    font-size: 16px;
}

.social-icons i {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/**** footer SLUT ****/


/****** SPLASH SECTION ***/

#splash {
    width: 100%;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

#video-section form {
    margin: 0 auto;

}

.splash-max {
    background: radial-gradient(#000000, transparent);
    display: -webkit-box;
    display: flex;
    -webkit-box: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.video-splash {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-video {
    width: 100%;
    height: 737px;
    margin: 0 auto;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.5);
}

.splash-overskrift {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    top: 400px;
    left: 40px;
    z-index: 20;
}

.categoryWrapper span {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}

.categoryWrapper a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: white;
}

.cover {
    -o-object-fit: cover;
    object-fit: cover;
}

/***** KNAP PÅ VIDEO START ****/

.categoryWrapper {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.categoryWrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.9s ease 0s;
}

.categoryWrapper:hover:after {
    opacity: 0.4;
}

.categoryWrapper h1 {
    color: white;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 12px;
    -webkit-transition: all 0.15s ease 0s;
    position: absolute;
    /*** SKAL have position: absolute for ikke at få gap i toppen***/
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 10;

}

.categoryWrapper:hover h1 {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.categoryWrapper button {
    position: absolute;
    -webkit-transform: translatey(60px);
    transform: translatey(60px);
    -webkit-appearance: none;
    border: none;
    background: none;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin: 0;
    outline: none;
    z-index: 10;

}

.categoryWrapper button span {
    display: block;
    position: relative;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
}

.categoryWrapper button > span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 0;
    border: 1px solid white;
    border-left: none;
    border-bottom: none;
    -webkit-transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:after {
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    -webkit-transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span:before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 20px;
    height: 0;
    border: 1px solid white;
    border-right: none;
    border-bottom: none;

    -webkit-transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:before {
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    -webkit-transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span > span:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.categoryWrapper:hover button > span > span:before {
    opacity: 1;
    border-bottom: 1px solid white;
    width: calc(50%);
    height: 1px;
    -webkit-transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.categoryWrapper:hover button > span > span:after {
    opacity: 1;
    border-bottom: 1px solid white;
    width: calc(50%);
    height: 1px;
    -webkit-transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span > span {
    -webkit-transition: color 0.15s ease-out 0.3s;
    transition: color 0.15s ease-out 0.3s;
    color: transparent;
}

.categoryWrapper:hover button > span > span > span {
    color: white;
}

.categoryWrapper button > span > span > span:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #1f2e4d;
    content: attr(data-attr-span);
    width: 0%;
    height: 100%;
    background: white;
    white-space: nowrap;
    text-align: center;
    margin: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

.categoryWrapper button:hover > span > span > span:after {
    width: 100%;
}

.cta-knap {
    position: absolute;
    font-size: 15px;
    width: 200px;
    left: 25px;
    font-family: "Roboto", sans-serif;
}

/***** KNAP PÅ VIDEO SLUT ****/

#instagram {
    display: block;
}

/* Media queries */
/** FORSIDE **/
/** forside knap og headline mobil ***/

@media screen and (min-width: 375px) {
    .cta-knap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 20px;
    }

    .footer-container {
        width: 100vw;
        background-color: rgba(117, 117, 119, 0.76);
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .social-icons i {
        cursor: pointer;
        transition: ease-in-out 0.3s;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cta-knap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 20px;
    }

    .categoryWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        left: 10px;
    }

    .hero-video {
        pointer-events: all;
    }

    .categoryWrapper span {
        position: absolute;
        top: 0px;
        left: 0px;
        margin-top: 20px;
    }

    .categoryWrapper a {
        text-align: center;
        position: relative;

    }

    .categoryWrapper button {
        float: right;
        position: unset;

    }

    .categoryWrapper button:hover {
        border: 2px solid white;

    }


    span::after {
        -webkit-transform: none;
        transform: none;
    }
}

/*** forside knap og headline mobil slut ***/

@media screen and (min-width: 650px) {
    .flex-container img {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 650px) {
    .tekst-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #webshop-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #galleri-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 800px) {
    .menu-wrapper {
        display: grid;
    }

    .fbg h2 {
        text-transform: uppercase;
        letter-spacing: 0.4px;
    }

    main {
        padding-top: 50px;
    }

    .popUp-container {
        margin-top: 55px;
    }

    #video-section {
        margin-top: -69px;
    }

    .container-max {
        width: 75%;
    }

    .mobile-footer {
        display: none;
    }

    .butik-container,
    .kontakt,
    .aabningstid {
        display: inline-grid;
    }

    #menu-mobile {
        display: none;
    }

    .cover {
        -o-object-fit: cover;
        object-fit: cover;
    }

    main {
        margin-top: 70px;
    }

    .footer button p {
        text-decoration: underline;
    }

    .betalingsmetoder .mobilepay {
        height: 80px;
        width: auto;
    }

    .betalingsmetoder img {
        height: 50px;
    }

}

@media screen and (min-width: 950px) {
    .banner-tekst {
        width: 400px;
        top: 300px;
        left: 200px;
    }
}

@media screen and (min-width: 1050px) {
    .flex-container img {
        padding-left: 30px;
        padding-right: 30px;
    }

    .tekst-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 25px;

    }

    .grid-container .butik-container {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        margin: 0;
    }


    .google-maps {
        position: relative;
        padding-top: 99%;
        height: 0;
        overflow: hidden;
        grid-row: 3 / span 2;
        grid-column: 1 / span 2;
    }

    #mail-form {
        max-width: 1180px;
        margin: 0 auto;
        grid-row: 3 / span 2;
        grid-column: 3 / span 2;
        padding-bottom: 35px;
    }
}

@media screen and (min-width: 1340px) {

    .flex-container img {
        padding-left: 70px;
        padding-right: 70px;
    }

    .tekst-container {
        padding-left: 70px;
        padding-right: 70px;
    }

    #webshop-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #galleri-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
