* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

img {
    width: 100%;
}

nav h1 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 28px;
}

nav li {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 22px;
}

.menu-desktop-container {
    width: 100vw;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px;

    background-color: aqua
}

.menu-desktop-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#menu-desktop {}

.menu-wrapper {
    position: fixed;
    top: 0;
    display: none;
    grid-template-columns: 1fr 2fr 4fr 1fr;
    grid-template-rows: 130px;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 130px;
    width: 100vw;
    -webkit-transition: height .5s cubic-bezier(.19, 1, .22, 1);
    transition: height .5s cubic-bezier(.19, 1, .22, 1);
    background-color: rgb(255, 255, 255);
    z-index: 200;
    border-bottom: 1px solid black;
}

.header-menu-container {
    justify-self: right;
    display: flex;
}

.header-menu-container ul {
    margin-bottom: 0;
}

.header-menu-container li {
    margin-left: 30px;
    color: black;
}

.header-menu-container a {
    text-decoration: none;
    list-style-type: none;
}

/* mobile menu */
.mobile-menu-dropdown {
    position: absolute;
    z-index: 998;
    color: black;
    background: rgb(240, 240, 240);
    height: 100vh;
    display: inline-block;
    -webkit-transition: 200ms left cubic-bezier(0.77, 0, 0.175, 1);
    transition: 200ms left cubic-bezier(0.77, 0, 0.175, 1);
    width: 500px;
    left: -500px;
    padding: 50px;
}

.mobile-menu-dropdown.active {
    left: 0;
    top: 0;
    width: 100%;
}

.desktop-logo img {
    height: 120px;
    width: auto;
}

.mobil-logo img {
    height: 60px;
    width: auto;
}

.mobil-logo {}

body {}

ul,
li {
    list-style-type: none;
    text-decoration: none;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 45px;
}

.atags-mobile-menu a {
    display: block;
    margin-bottom: 30px;
    color: Black;
    list-style: none;
    -webkit-animation-name: fade-in-left;
    animation-name: fade-in-left;
}

/* event side */
.flex {}

.tb1,
.pa1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;

}

.tb2,
.pa2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fbg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
}

/*** forside ***/

/**** instagram embed ***/

.snapwidget-widget {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.snapwidget-widget:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
}

/****** SPLASH SECTION ***/

#splash {
    width: 100%;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.splash-max {
    background: radial-gradient(#0053ff, transparent);
    display: -webkit-box;
    display: flex;
    -webkit-box: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.video-splash {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-video {
    width: 100%;
    height: 737px;
    margin: 0 auto;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.5);
}

.splash-overskrift {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    top: 400px;
    left: 40px;
    z-index: 20;
}

.categoryWrapper span {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0 auto;
    text-align: center;
}

.categoryWrapper a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: white;
}

.cover {
    -o-object-fit: cover;
    object-fit: cover;
}

/***** KNAP PÅ VIDEO ****/

.categoryWrapper {


    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.categoryWrapper:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.9s ease 0s;
}

.categoryWrapper:hover:after {
    opacity: 0.4;
}

.categoryWrapper h1 {
    color: white;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 12px;
    -webkit-transition: all 0.15s ease 0s;
    position: absolute;
    /*** SKAL have position: absolute for ikke at få gap i toppen***/
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 10;

}

.categoryWrapper:hover h1 {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.categoryWrapper button {
    position: absolute;
    -webkit-transform: translatey(60px);
    transform: translatey(60px);
    -webkit-appearance: none;
    border: none;
    background: none;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 20px;
    margin: 0;
    outline: none;
    z-index: 10;

}

.categoryWrapper button span {
    display: block;
    position: relative;
    line-height: 50px;
    height: 50px;
    cursor: pointer;
}

.categoryWrapper button > span:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 0;

    border: 1px solid white;
    border-left: none;
    border-bottom: none;

    -webkit-transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;

    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:after {
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    -webkit-transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span:before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 20px;
    height: 0;

    border: 1px solid white;
    border-right: none;
    border-bottom: none;

    -webkit-transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;

    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:before {
    width: calc(50% - 1px);
    height: calc(100% - 2px);
    -webkit-transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
    transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span > span:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 1px;
    height: 1px;
    opacity: 0;

}

.categoryWrapper:hover button > span > span:before {
    opacity: 1;
    border-bottom: 1px solid white;
    width: calc(50%);
    height: 1px;
    -webkit-transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 1px;
    height: 1px;
    opacity: 0;

}

.categoryWrapper:hover button > span > span:after {
    opacity: 1;
    border-bottom: 1px solid white;
    width: calc(50%);
    height: 1px;
    -webkit-transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
    transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span > span {
    -webkit-transition: color 0.15s ease-out 0.3s;
    transition: color 0.15s ease-out 0.3s;
    color: transparent;
}

.categoryWrapper:hover button > span > span > span {
    color: white;
}

.categoryWrapper button > span > span > span:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #1f2e4d;
    content: attr(data-attr-span);
    width: 0%;
    height: 100%;
    background: white;
    white-space: nowrap;
    text-align: center;
    margin: auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}

.categoryWrapper button:hover > span > span > span:after {
    width: 100%;
}

.cta-knap {
    position: absolute;
    font-size: 15px;
    width: 200px;
    left: 25px;
    font-family: "Roboto", sans-serif;
}

/***** SPLASH SECTION slut ****/

/***** FLEX ***/

.ng1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.gce1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.fbg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
}



/***** OM SECTION ****/

#nyhavnsglaspusteri {
    margin-top: 80px;
}

#glaspusterchristianedwards {
    margin-top: 80px;
}


.fbg h2 {
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-top: 20px;
}

.fbg p {
    padding: 2px;
    padding-top: 20px;
    line-height: 28px;
    margin-top: 20px;
}

.fbg h3 {
    margin-top: 20px;
    font-family: 'Roboto thin100', sans-serif;
    font-size: 20px;
    font-weight: 100;
    font-size: 30px;
}

section {}

section img {
    width: 300px;
    height: auto;
}

#events p,
#forside p {
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 20px;
    line-height: 25px;
    font-family: "Helvetica", sans-serif;
    font-size: 19px;
}





/* webshop-side */
#webshop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
}

.price-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/*.title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 6px;
}*/

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
}

.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}



/* kontakt side */

.aabningstider-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}




.google-maps {
    position: relative;
    padding-bottom: 75%;
    /* This is the aspect ratio */
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*****OM SECTION DONE*****/

/**** singleview ****/

.tilbagesvg {
    position: static;
    cursor: pointer;
}

.ikoner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 50PX;
    align-items: center;
    background-color: aliceblue;

    width: 100VW;
    padding-left: 10px;
    padding-right: 10px;

}

/***** farver***/

.farver {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background-color: black;

}

.farver1 {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background-color: antiquewhite;

}

.farver2 {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background-color: blue;

}

.farver3 {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    background-color: white;

}



.pris p {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    float: right;

}

.farve-valg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.enkelt-produkt-overskrift p {
    padding: 0;
    margin-top: 20px;
}

/**** læg i kurv knap ***/
.buybutton {


    background: transparent;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 150px;
    height: 50px;
    position: relative;
    left: 100px;

}

.buybutton p {

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    padding: 0px;
    position: relative;
    bottom: 8px;
}






main {
    margin-top: 75px;
}

.container-max {
    width: 85%;
    max-width: 1920px;
    margin: 0 auto;
}



#menu-mobile {
    background-color: #ffffff;
    height: 75px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: left;
    padding-left: 15px;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 200;
    top: 0;


}

/* Footer */


footer {
    text-align: center;
    background-color: #efefef;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Roboto", sans-serif;
}

footer .container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    text-align: left;

}

footer button {
    width: 130px;
    height: 40px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
    transition: ease-in-out 0.3s;
}

footer h4 {
    font-size: 22px;
    font-weight: 600;

    padding-bottom: 25px;
}

footer h5 {
    font-size: 18px;

    font-weight: 500;

}


footer p {
    font-size: 16px;
}

footer button p {
    color: black;

}


footer button:hover {

    border: 3px solid white;
    background-color: black;
    color: white;
}

footer button p:hover {
    color: white;
}

.tlf {
    display: flex;
    align-content: center;
}



.butik-container,
.kontakt,
.aabningstid {
    display: none;
    flex-grow: 1;
    flex-basis: 100px;
    margin: 0 auto;

}

.kontakt h5,
.kontakt p,

.kontakt a {
    margin-bottom: 10px;
    text-decoration: none;
    list-style-type: none;


}

.kontakt h6:hover {

    text-decoration: underline;
}

.kontakt h6 {
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
    font-weight: 500;
    transition: ease-in-out 0.3s;


}

.butik-container h5,
.butik-container p,
.butik-container div {
    padding-bottom: 10px;
}


.aabningstiden {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

}

.aabningstiden h3 {
    padding-right: 15px;
}

<<<<<<< HEAD
<<<<<<< HEAD #menu-mobile {
    height: 75px;

    =======.footer-container a,
    footer-container p {
        text-decoration: none;
        list-style-type: none;
=======


.footer-container a,
footer-container p {
    text-decoration: none;
    list-style-type: none;
}

.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-envelope:hover {
    color: white;
    transform: scale(1.2);
}

.footer-container {
    width: 100vw;
    background-color: rgba(117, 117, 119, 0.76);
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-icons i {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/**** footer ****/


/* Media queries */
/** FORSIDE **/
/** forside knap og headline mobil ***/

@media screen and (min-width: 375px) {
    .cta-knap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 20px;
>>>>>>> copenhagenglass/master
    }

    .fa-facebook-square:hover,
    .fa-instagram:hover,
    .fa-envelope:hover {
        color: white;
        transform: scale(1.2);
    }

    .footer-container {
        width: 100vw;
        background-color: rgba(117, 117, 119, 0.76);
        display: block;
        > > > > > > > copenhagenglass/master padding-top: 10px;
        padding-bottom: 10px;
    }

    .social-icons i {
        cursor: pointer;
        transition: ease-in-out 0.3s;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /**** footer ****/
    footer {
        height: 7vh;
        background-color: #1f2e4d;
        color: white;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 100;
        position: relative;
    }

    /* Media queries */
    /** FORSIDE **/
    /** forside knap og headline mobil ***/

    @media screen and (min-width: 375px) {
        .cta-knap {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: 20px;
        }

        .categoryWrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0 auto;
            position: relative;
            left: 10px;

        }

        .hero-video {
            pointer-events: all;
        }

        .categoryWrapper span {
            position: absolute;
            top: 0px;
            left: 0px;
            margin-top: 20px;


        }

        .categoryWrapper a {
            text-align: center;
            position: relative;

        }

        .categoryWrapper button {
            top: 20px;

        }

        span::after {
            -webkit-transform: none;
            transform: none;
        }
    }

    /*** forside knap og headline mobil slut ***/

    /**** events side ***/

<<<<<<< HEAD
    #teambuilding {
        margin-top: 20px;

    }

    #polterabend {
        margin-top: 50px;
    }

    .tb2 {
        margin-top: 50px;
    }

    .pa2 {
        margin-top: 50px;
    }

    .tb1 {
        margin-top: 50px;
    }

    .pa1 {
        margin-top: 50px;
    }
=======

>>>>>>> copenhagenglass/master

    .pa2 p {
        padding: 0px;
        padding-bottom: 0px;
        padding-top: 20px;
        line-height: 25px;
        font-family: "Helvetica", sans-serif;
        font-size: 19px;
        margin-bottom: 20px;
        width: 80%;
        /*** slet linket fra backend og hardcode det istedet ***/

    }





    @media screen and (min-width: 750px) {
        .menu-wrapper {
            display: grid;
        }

<<<<<<< HEAD
        .butik-container,
        .kontakt,
        .aabningstid {}
=======
    .mobile-footer {
        display: none;
    }

    .butik-container,
    .kontakt,
    .aabningstid {
        display: block;
    }
>>>>>>> copenhagenglass/master

        #menu-mobile {
            display: none;
        }

        .cover {
            -o-object-fit: cover;
            object-fit: cover;
        }

    main {
        margin-top: 130px;
    }



    .footer button p {
        text-decoration: underline;
    }








    }
